:root {
    /*     Mã Màu Mẫu       */

    --primary-color: #77dada;
    --text-color: #0e4f4f;
    --base-white: #fff;
    --black: #000;
    --primary-light: #caf8f8;
    --primary-base: #77dada;
    --primary-dark: #0e4f4f;
    --gray-50: #f9fafb;
    --gray-100: #f2f4f7;
    --gray-200: #eaecf0;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;
    --success-light: #a6f4c5;
    --success-base: #12b76a;
    --success-dark: #054f31;
    --error-light: #fecdca;
    --error-base: #f04438;
    --error-dark: #7a271a;
    --warning-light: #fedf89;
    --warning-base: #f79009;
    --warning-dark: #7a2e0e;
    --infomation-light: #dee6f8;
    --infomation-base: #356ad1;
    --infomation-dark: #003074;

    --shadow-xs: 0px 1px 2px 0px #1018280d;
    --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, .06), 0px 1px 3px 0px rgba(16, 24, 40, .1);

    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, .7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;

    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}


/* Áp dụng cho tất cả các phần tử khi được focus */
*:focus-within {
    outline: none;
}

/* Áp dụng cho input, select, textarea khi được focus */
input:focus-within,
select:focus-within,
textarea:focus-within,
.input:focus-within {
    border: 1px solid #77dada !important;
    box-shadow: 0 0 0 4px #caf8f8 !important;
}

/* Áp dụng cho button khi được focus */
button:focus-within {
    border: 1px solid #77dada !important;
    box-shadow: 0 0 0 4px #caf8f8 !important;
}

/* Áp dụng cho custom-select khi active hoặc focus-within */
.custom-select:active,
.custom-select:focus-within {
    border: 1px solid #77dada !important;
    box-shadow: 0 0 0 4px #caf8f8 !important;
}

/* Các phần tử khác có thể được thêm vào tùy thuộc vào nhu cầu của bạn */

body {
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

link[rel="icon"] {
    border-radius: 50%;
}

.btn:active {
    background-color: #77dada;
    box-shadow: rgb(202, 248, 248) 0px 0px 0px 4px, rgba(24, 24, 27, 0.05) 0px 1px 2px 0px;
    color: #0e4f4f;
}

/* Navbar Styles */
.navbar {
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 5%;
    background-color: white;
    border-bottom: 1px inset;
    border-radius: 0;
}

.navbar-brand {
    display: inline-block;
    vertical-align: middle;
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-size: 16px;
}

.ms-auto {
    padding-right: 10%;
}

/* Video Box Styles */
.video-box {
    height: 780px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0;
    box-shadow: rgba(16, 24, 40, 0.06) 0 1px 2px 0, rgba(16, 24, 40, 0.1) 0 1px 3px 0;
    position: relative;
    z-index: 1;
}
.video-box{
    position: relative;
    overflow: hidden;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-timkiem, .bay {
    position: relative;
    padding: 5% 3%;
    border-radius: 100px;
    border: 1px solid var(--gray-200);
    box-shadow: var(--shadow-xs);
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.bay {
    position: relative;
    padding: 3% 0 2% 6% !important;
    border-radius: 100px;
    border: 1px solid var(--gray-200);
    box-shadow: var(--shadow-xs);
    display: flex;
    align-items: center;
    gap: 8px;
}

.people {
    position: relative;
    padding: 5% 0 5% 6% !important;
    border-radius: 100px;
    border: 1px solid var(--gray-200);
    box-shadow: var(--shadow-xs);
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-text {
    position: absolute;
    top: -20%;
    left: 10%;
    font-size: 14px;
    color: #888888;
    background-color: #FFFFFF;
}

/* Square Box Styles */
.square-box {
    height: 85%;
    background-color: rgb(255, 255, 255);
    padding: 5% 1% 1% 1%;
    margin: 48px 0 48px 0;
    border-radius: 24px;
    box-shadow: rgba(16, 24, 40, 0.06) 0 1px 2px 0, rgba(16, 24, 40, 0.1) 0 1px 3px 0;
    border: 1px solid var(--gray-200, #eaecf0);
}

.square-box img {
    box-shadow: rgba(16, 24, 40, 0.06) 0 4px 6px -2px, rgba(16, 24, 40, 0.1) 0 12px 16px -4px;
    height: 215px;
    width: 349px;
    border-radius: 24px 24px 24px 24px;
}

.square-box > div {
    flex: 1;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.square-box .justify-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.Card-DN {
    border-radius: 24px !important;
    max-width: 540px;
    padding: 0 3% 2% 3%;
    cursor: pointer;

}

.Card-DN img {
    max-height: 120px;
    max-width: 120px;
}

.row-toLocation, .square-box, .text-center {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .centered-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px; /* Điều chỉnh kích thước tối đa của centered-box nếu cần */
        z-index: 3; /* Đảm bảo centered-box hiển thị lên trước square-box và video */
    }

    .centered-box .square-box {
        box-shadow: none; /* Ẩn hoặc bỏ hết shadow của square-box */
        z-index: -1;
        top: -50px;
    }

    .navbar {
        padding-left: 0;
    }

    .navbar-brand {
        margin-left: 0;
        margin-right: 0;
    }


    .navbar .navbar-expand-lg {
        margin-left: auto;
        margin-right: auto;
        display: table;
        table-layout: fixed;
        float: none;
    }

    .navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
        border: none;
        outline: none;
        box-shadow: none;
    }

    .navbar-collapse {
        text-align: left;
    }

    .navbar-nav {
        margin-left: auto;
        margin-right: auto;
        display: table;
        table-layout: fixed;
        float: none;
    }
    video {
        width: 100vw;
        height: auto;
        position: relative;
        z-index: 1; /* Đặt video ở dưới các phần khác */
    }

    .navbar {
        /*text-align: center;*/
        background-color: white;
        border-bottom: 1px inset;
        border-radius: 0;
    }

    .container .btn-outline-primary {
        font-size: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        border-radius: 100px;
    }

    ul.navbar-nav {
        display: flex;
        justify-content: flex-end;
        /*margin-left: 80px;*/
    }
}

.position-absolute {
    background-color: #fedf89;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    padding-right: 15px;
}

.text-warning {
    border-radius: 15px;
    padding: 10px 15px 10px 10px;
    margin-right: -15px;
    font-size: 12px;
}

.xs {
    --text-color: #7a2e0e;
    color: #7a2e0e;
    font-size: 12px;
}

/* Footer Styles */
footer {
    background-color: #101828;
    padding: 20px 0;
}

.link {
    color: #98a2b3;
    cursor: pointer;
}

.link:hover {
    color: var(--primary-dark);
    cursor: pointer;
}

.T-LINK {
    color: var(--gray-500);
}

#row-footer .col-md-3 {
    display: flex;
    flex-direction: column;
}

#row-footer {
    margin-top: 5%;
    margin-bottom: 2%;
    color: #98a2b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

/* Location Info Styles */
.location-info-s {
    background-color: #f2f4f7;
    color: #000000;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 100px;
    display: inline-block;
}

/* Price and Button Styles */
.price-and-button {
    position: relative;
}

.price-and-button .btn-primary {
    position: absolute;
    bottom: -20px;
    right: 0;

}

.price {
    color: #0e4f4f;
    font-size: 18px;
    font-family: 'Archivo', sans-serif, bold;
}

/* General Button Styles */
.btn-contact, .btn-primary {
    border-radius: 100px;
    box-shadow: rgba(16, 24, 40, 0.05) 0 1px 2px 0;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 11px 17px;
    color: var(--text-color);
    margin-left: auto !important;
    white-space: nowrap;

}

.navbar .btn-contact {
    display: flex;
    justify-content: flex-end;
}

.btn-contact:hover, .btn-primary:hover {
    background-color: var(--text-color) !important;
    border-color: var(--text-color) !important;
}

.row_viewAll {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn-viewAll {
    border: solid 1px;
    border-radius: 100px;
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-viewAll:hover {
    background-color: #f9fafb;
    border: solid 1px;
    border-radius: 100px;

    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
}

.row-feedback {
    font-size: 16px;
    /*border-radius: 32px;*/
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    width: 100%;
    color: #101828;
    padding: 2% 2% 4%;
    margin-bottom: 5%;
    background-color: #f3ffff;
    background-image: url('img/section-background.png');
}

.row-one {
    padding-bottom: 2%;
    padding-top: 5%;
    padding-left: 2%;
}

.row .row-3 {
    padding-top: 5%;
}

.btn-kh {
    font-size: 16px;
    font-family: 'Archivo', sans-serif, bold;
    color: #1d2939;
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
    margin-right: 20px; /* Đặt khoảng cách giữa các nút là 5% */
    border-radius: 20px; /* Bo góc là 1% */
    background-color: white;
    border: 1px solid #eaecf0;
}

.btn-kh:last-child {
    margin-right: 0; /* Loại bỏ khoảng cách bên phải của nút cuối cùng */
}

.row-toLocation {
    font-size: 16px;
    border-radius: 32px;
    /*box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;*/
    width: 100%;
    color: #101828;
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
}

.row-toLocation .col-md-8.row-toLocation {
    /*background-color: rgba(0, 123, 255, 0.25);*/
}

.btn_viewNgay {
    border: rgba(29, 41, 57, 0.51) solid 1px;
    border-radius: 100px;
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
}

.row-toLocation .square-box {
    height: 382px;
}

.section-bg {
    background-color: #f2f4f7;
    padding: 2% 2% 4%;
}

.section-bg .row-two {
    padding-left: 5%;
    padding-right: 5%;
}

.noidung {
    padding-left: 5%;
    padding-right: 5%;
    max-height: 2.8em; /* Đặt giá trị tối đa 2 dòng */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.row-toLocation .float-start {
    padding-left: 5%;
    padding-right: 3%;
    font-size: 14px;
}

/*trang tìm du thuyền*/

.col-md-12 .square-box {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.col-md-12 .square-box > div {
    flex: 1;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 3%;
}


.custom-select {
    position: relative;
    border-radius: 100px;
    border: 1px solid var(--gray-200);
    padding: 1%;
    background-color: transparent;
    margin-right: 1%;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #ffffff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    /*border: 6px solid transparent;*/
    /*border-color: #fff transparent transparent transparent;*/

}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div, .select-selected {
    color: #000000;
    padding: 8px 16px;
    /*border: 1px solid transparent;*/
    /*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 10px;
    padding: 1%;
    border: 1px solid var(--gray-200);
    box-shadow: rgba(16, 24, 40, 0.03) 0px 8px 8px -4px, rgba(16, 24, 40, 0.08) 0px 20px 24px -4px;
    width: 120%;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.SearchPageDetail_side-bar {
    border: 1px solid var(--gray-200, #eaecf0);
    padding: 2% 5% 5% 6%;
    border-radius: 20px;
    box-shadow: rgba(16, 24, 40, 0.06) 0px 1px 2px 0px, rgba(16, 24, 40, 0.1) 0px 1px 3px 0px;
    height: auto;
    width: 100%;
}

.SearchPageDetail_side-bar__header {
    border-bottom: 1px solid var(--gray-200, #eaecf0);
    padding: 5%;
}

.ranks {
    border-bottom: 1px solid var(--gray-200, #eaecf0);
    padding: 5% 0;

}

.form-check-label, .form-check-input {
    cursor: pointer;
}


.form-check-input:checked {
    background-color: #77dada;
    border-color: var(--gray-200, #eaecf0);
}

.form-check-label {
    color: var(--gray-700, #344054);
    user-select: none;
}

.tool {
    padding: 5% 0 8%;
}

.SearchPageDetail_search-page .card {
    border-radius: 24px;
}

.location {
    background-color: #f2f4f7;
    border-radius: 16px;
    width: 25%;
    padding: 0 0 0 5%;

}

.img-fluid {
    border-radius: 24px;
    margin: 5% 6% 5% 5%;
    object-fit: cover;
    height: 90%;
    padding-bottom: 2%;
}

.card-body {
    padding: 5% 0 0 8%;

}

.card-body .card-title {
    color: #475467;
    padding-top: 0.2em;
}

.card-body .info {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: var(--gray-600)
}

.optionTag {
    margin: 1% 0;
    padding: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    cursor: pointer;
    box-shadow: none;

}

.optionTag .op {
    background-color: var(--gray-100);
    color: var(--gray-700, #344054) !important;
    padding: 2px 8px;
    border-radius: 16px;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: none;
}

.op-item {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    background-color: var(--gray-100);
    color: var(--gray-700, #344054) !important;
    box-shadow: none;
}

.Price .num {
    color: #0e4f4f;
    border: none;

}

.SearchPageDetail_search-page .card {

}

.card-item {
    margin-bottom: 3%;
    box-shadow: rgba(16, 24, 40, 0.06) 0px 1px 2px 0px, rgba(16, 24, 40, 0.1) 0px 1px 3px 0px;
}

.Price {
    border-top: 1px solid var(--gray-200, #eaecf0);
}

.Price .gia {
    padding: 5% 0 1% 0;
    width: 90%;
}

.Price .gia .btn-primary {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item .position-absolute {
    margin-top: 3%;
    margin-left: 3%;
}

.SearchPageDetail_search-page {
    cursor: pointer;
}

.row-duthuyen a {
    color: var(--gray-600, #475467) !important;
}

.ShipDetail_navigation {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
}

.feedback-5 {
    background-color: var(--warning-light);
    color: var(--warning-dark, #7a2e0e);
    border-radius: 24px;
    display: flex !important;
    justify-content: center !important;
    padding: 0 !important;
}

.feedback-5 label {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 !important;
}

.gia {
    display: flex;
    justify-content: flex-end;
}

.gia h4 {
    color: #0e4f4f !important;
}

.info2 {
    display: flex;

}

.ben-do {
    background-color: var(--gray-100);
    color: var(--gray-700, #344054);
    border-radius: 24px;
    padding: 0 0 0 2% !important;
}

.ben-do label {

    margin: 0 !important;
}

.scoll-map {

    margin-left: 5%;
    color: var(--primary-base, #77dada) !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    cursor: pointer;

}

.img-location_travel .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(16, 24, 40, 0.03) 0px 8px 8px -4px, rgba(16, 24, 40, 0.08) 0px 20px 24px -4px;
}

.work .img {
    box-shadow: rgba(16, 24, 40, 0.03) 0px 8px 8px -4px, rgba(16, 24, 40, 0.08) 0px 20px 24px -4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.Tabs_tabItem {
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--gray-500) !important;
    border-radius: 6px;
    padding: 8px 12px 0;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    background: transparent;
    box-shadow: none;
}

.Tabs_tabItem:hover, .Tabs_tabItem:focus-within {
    color: var(--gray-700) !important;
    background: var(--base-white) !important;
    box-shadow: var(--shadow-sm) !important;
    cursor: pointer;
    border: none !important;
}

.Tabs_tabs__header {
    display: flex;
    padding: 4px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-100, #f2f4f7);
    background: var(--gray-50, #f9fafb);
    position: sticky;
    margin-top: 100px;
}

.Tabs_sm label {
    margin: 0;
}

.oder {
    padding-top: 5em;
}

.oder-option {
    border-radius: 24px;
    background-color: #f2f4f7;
    padding: 32px;
    background-image: url(/img/section-background.png);
    background-repeat: repeat;
    gap: 40px;
}

.oder-option-clear-option {
    border: none !important;
}

.btn-clear-option {
    padding: 10px 16px;
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
    background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #eaecf0, #eaecf0);
    border: 1px solid #eaecf0;
    color: var(--gray-800);
    fill: var(--gray-800);
    display: flex;
    align-items: center;
    border-radius: 100px;
    gap: 8px;
}

.info-du-thuyen {
    border-radius: 32px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
    height: auto;
}

.quantity-counter button,
.quantity-counter button:focus-within,
.quantity-counter button:active,
.quantity-counter button:hover {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.quantity-counter {
    max-width: 60%;
    background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #eaecf0, #eaecf0);
    border: 1px solid #eaecf0;
    color: var(--gray-800);
    fill: var(--gray-800);
    border-radius: 100px;
}

.Price-khach-number {
    font-weight: 700;
    color: var(--primary-dark, #0e4f4f);
}

.Price-khach-SL {
    color: var(--gray-400, #98a2b3);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.card-delta img {
    border-radius: 15%;
}

.oder-option-list {
    display: flex;
    align-items: center;
    border-radius: 24px;
    gap: 20px;
    padding: 3%;
    margin: 3%;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
}

.thue-tron-tau,
.dat-ngay {
    border: 1px solid #eaecf0;
    padding: 16px 20px;
    display: flex;
    border-radius: 100px;
    box-shadow: var(--shadow-xs);
}

.dat-ngay {
    background-color: var(--primary-base) !important;
}

.gioi-thieu-img img {
    width: 100%;
    border-radius: 15px;
}

.figcaption {
    color: #FFFFFF;
    position: absolute;
    background-color: #2d333a;
    border-radius: 3px;
    right: 3%;
    font-size: 12px;
}

.infos {
    color: #475467;
}

.card-infos {
    border-radius: 32px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
    padding: 2%;
}

.card-infos-icon svg {
    background-color: #77dada;
    border-radius: 100px;
    height: 45px;
    width: auto;
    padding: 2%;
}

.info-4-card {
    border-radius: 32px;
    border: 1px solid var(--gray-200, #eaecf0);
    background: var(--base-white, #fff);
    box-shadow: var(--shadow-sm);
    margin-bottom: 2%;
    padding: 2%;
}

.info-5-card {
    border-radius: 32px;
    box-shadow: var(--shadow-sm);
    border: 1px solid var(--gray-200, #eaecf0);
    margin: 2%;
    padding: 2%;
}

.carousel button:focus-within{
    border: none !important;
    box-shadow: none !important;
}
.modal-content{

    border-radius: 24px;
}